#webgl_canvas {
    width: 1100px;
    height: 1100px;
    
    display: inline-block;
}

form {
    border: 0px solid;   
    outline: 0px;
}

button {
    border: none;
    background-color: lightgrey;
}

fieldset {
    border: 0;
}


.box {
    width: 75px;
}


.centered {
    text-align: center;
vertical-align: middle;
}


.controls-label {
    width: 120px;
    
    
}

#controls {
    display: inline-block;
    vertical-align: top;
}
            
#explanation {
    display: inline-block;
    vertical-align: top;
    width: 600px;
}
            
 /* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
} 

.tut-button {
    text-align: center;
} 

.active {
  stroke: #000;
  stroke-width: 2px;
}


body {
  font-family: Helvetica;
}


.center-table {
    display: inline-block;
}





